<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.dao.SysMenuDao">

    <select id="selectMenuTree" parameterType="im.model.SysMenuTreeQueryModel"
            resultType="im.model.SysMenuTreeModel">
        select
            a.menu_id id,
            a.menu_title title,
            a.menu_url href,
            case
                when a.menu_url = '#' then '0'
                when nvl(a.menu_url, '#') != '#' and a.parent_id is null then '0'
                when b.role_menu_id is not null then '1'
                else '0' end checked,
            #{disabled} disabled,
            '0' spread
        from sys_menu a
        left join sys_role_menu b on a.menu_id = b.menu_id and b.role_id = #{roleId}
        where a.is_enable = '1'
        and a.menu_type in ('1', '2', '3')
        <choose>
            <when test="isParentId == true">
                and a.parent_id is null
            </when>
            <otherwise>
                and a.parent_id = #{parentId}
            </otherwise>
        </choose>
        order by a.menu_order
    </select>

    <select id="selectDataAuthority" parameterType="im.model.SysMenuTreeQueryModel"
            resultType="java.lang.String">
        select
            case when count(1) > 0 then '1' else '0' end dataAuthority
        from
            sys_menu a,
            sys_role_menu b
        where a.menu_id = b.menu_id
        and b.role_id = #{roleId}
        and a.menu_id = '20190000000000'
        and a.is_enable = '1'
        and a.menu_type = '4'
    </select>

    <select id="selectDataAuthorityByUserId" parameterType="im.model.SysMenuTreeQueryModel"
            resultType="java.lang.Boolean">
        select
            case when count(1) > 0 then '1' else '0' end dataAuthority
        from
            sys_menu a,
            sys_role_menu b,
            sys_user_role c
        where a.menu_id = b.menu_id
        and b.role_id = c.role_id
        and c.user_id = #{userId}
        and a.menu_id = '20190000000000'
        and a.is_enable = '1'
        and a.menu_type = '4'
    </select>

    <select id="selectMenu" parameterType="im.model.SysMenuQueryModel"
            resultType="im.model.SysMenuModel">
        select
            a.menu_id menuId,
            a.parent_id parentId,
            a.menu_title menuTitle,
            a.menu_url menuUrl,
            a.menu_icon menuIcon
        from sys_menu a,
             sys_role_menu b,
             sys_user_role c
        where a.menu_id = b.menu_id
        and b.role_id = c.role_id
        and c.user_id = #{userId}
        and a.is_enable = '1'
        and a.menu_type in ('1')
        and a.menu_url is not null
        <choose>
            <when test="isParentId == true">
                and a.parent_id is null
            </when>
            <otherwise>
                and a.parent_id = #{parentId}
            </otherwise>
        </choose>
        order by a.menu_order
    </select>

    <select id="selectAllMenu" parameterType="im.model.SysMenuQueryModel"
            resultType="im.model.SysMenuModel">
        select
            a.menu_id menuId,
            a.parent_id parentId,
            a.menu_title menuTitle,
            a.menu_url menuUrl,
            a.menu_icon menuIcon
        from sys_menu a
        where a.is_enable = '1'
        and a.menu_type in ('1')
        and a.menu_url is not null
        <choose>
            <when test="isParentId == true">
                and a.parent_id is null
            </when>
            <otherwise>
                and a.parent_id = #{parentId}
            </otherwise>
        </choose>
        order by a.menu_order
    </select>

    <select id="selectUrlMenu" resultType="im.model.SysMenuModel">
        select
            a.menu_id menuId,
            a.parent_id parentId,
            a.menu_title menuTitle,
            a.menu_url || '?menuId=' || menu_id || '&amp;menuTitle=' || menu_title menuUrl,
            a.menu_icon menuIcon
        from sys_menu a
        where a.menu_type in ('1')
        and a.menu_url is not null
        order by a.menu_order
    </select>

    <select id="updateMenu" resultType="im.model.SysMenuModel">
        update sys_menu set is_enable = #{isEnable}
        where instr(#{menuId}, menu_id) > 0
    </select>

    <select id="selectMenuAuthority" parameterType="im.model.SysMenuQueryModel" resultType="java.lang.Boolean">
        select case count(1) when 0 then 0 else 1 end
        from sys_user a, sys_user_role b, sys_role_menu c
        where a.user_id = b.user_id
        and b.role_id = c.role_id
        and a.user_id = #{userId}
        and c.menu_id = #{menuId}
    </select>

</mapper>