<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoomoomoo.im.dao.SysSystemDao">

    <select id="loadBusinessId" resultType="java.lang.String">
        select 'user-' || max(to_number(user_id)) as businessId from sys_user
        union all
        select 'role-' || max(to_number(role_id)) as businessId from sys_role
        union all
        select 'userRole-' || max(to_number(user_role_id)) as businessId from sys_user_role
        union all
        select 'roleMenu-' || max(to_number(role_menu_id)) as businessId from sys_role_menu
        union all
        select 'income-' || max(to_number(income_id)) as businessId from sys_income
        union all
        select 'gift-' || max(to_number(gift_id)) as businessId from sys_gift
        union all
        select 'notice-' || max(to_number(notice_id)) as businessId from sys_notice
        union all
        select 'loginLog-' || max(to_number(log_id)) as businessId from sys_login_log
        union all
        select 'menu-' || max(to_number(menu_id)) as businessId from sys_menu
        union all
        select 'interface-' || max(to_number(interface_id)) as businessId from sys_interface
    </select>

    <select id="selectButtonAuthority" parameterType="com.hoomoomoo.im.model.SysSystemQueryModel"
            resultType="java.lang.Boolean">
        select case when count(1) > 0 then '1' else '0' end buttonAuthority
        from sys_user_role a, sys_role_menu b, sys_menu c
        where a.role_id = b.role_id
        and b.menu_id = c.menu_id
        and a.user_id = #{userId}
        and c.parent_id = #{menuId}
        and c.menu_type = '3'
    </select>

    <select id="selectDataAuthority" parameterType="com.hoomoomoo.im.model.SysSystemQueryModel"
            resultType="java.lang.Boolean">
        select
            case when count(1) > 0 then '1' else '0' end dataAuthority
        from sys_user_role a, sys_role_menu b, sys_menu c
        where a.role_id = b.role_id
        and b.menu_id = c.menu_id
        and a.user_id = #{userId}
        and c.menu_id = '20190000000000'
        and c.is_enable = '1'
        and c.menu_type = '4'
    </select>

    <select id="selectTableNum" parameterType="com.hoomoomoo.im.model.SysTableQueryModel" resultType="java.lang.Integer">
        select count(1)
        from user_tables
        where lower(table_name) in (${tableName})
    </select>

    <select id="selectTableColumn" parameterType="com.hoomoomoo.im.model.SysTableQueryModel"
            resultType="com.hoomoomoo.im.model.SysTableModel">
        select
            lower(a.column_name) columnCode,
            lower(a.data_type) columnType
        from user_tab_columns a, user_col_comments b
        where a.table_name = b.table_name
        and a.column_name = b.column_name
        and a.table_name = upper(#{tableName})
        order by a.column_id
    </select>

    <select id="selectTablePrimaryKey" parameterType="com.hoomoomoo.im.model.SysTableQueryModel"
            resultType="com.hoomoomoo.im.model.SysTableModel">
        select
            lower(a.constraint_name) columnType,
            lower(a.column_name)  columnCode
            from user_cons_columns a, user_constraints b
            where a.constraint_name = b.constraint_name
            and b.constraint_type = 'P'
            and a.table_name = upper(#{tableName})
            order by a.column_name
    </select>

    <select id="selectTableData" parameterType="com.hoomoomoo.im.model.SysTableQueryModel"
            resultType="java.util.LinkedHashMap">
        select ${tableColumn}
        from ${tableName}
        order by ${tableOrder}
    </select>

    <select id="selectTableCount" parameterType="com.hoomoomoo.im.model.SysTableQueryModel"
            resultType="com.hoomoomoo.im.model.SysTableModel">
        select count(1) dataCount
        from ${tableName}
    </select>

    <select id="selectTableColumnComments" parameterType="com.hoomoomoo.im.model.SysTableQueryModel"
            resultType="com.hoomoomoo.im.model.SysTableModel">
        select lower(column_name) columnCode, comments columnComments
        from user_col_comments
        where table_name = upper(#{tableName})
    </select>

</mapper>